<section id="about">
  <div class="container-fluid">
  <div class="row">
    <h1 class="section-header display-4 mt-4 pl-3 pr-3">O firmie</h1>
    <div class="col-md-12 pt-3 pb-3 p-size">
      <p>
        Best - Events to firma, której założycielem jest Dariusz Skrzydłowski. Od roku 1996 działa w branży rozrywkowej, praktyczne doświadczenie zdobywał prowadząc i organizując imprezy o charakterze eventowym.</p>
      <p>
        Podjął współpracę z najlepszymi profesjonalistami danych branż, tworząc zespół zaufanych fachowców w swoich dziedzinach. Odznacza się elastycznością działania oraz tworzeniem niezapomnianych wspomnień.
      </p>
      <p>
        Dzięki inwestowaniu w najwyższej jakości sprzęt nagłośnieniowo-oświetleniowy specjalizuje się w wyjątkowej oprawie.  Nastawienie na relacje międzyludzkie oraz niepowtarzalny klimat każdej imprezy w efekcie dają usługę, która zapewnia stałe miejsce na
        rynku.
      </p>
      <p>
        Aby zapewnić Państwu lepszy kontakt z nami od marca 2018 otwieramy nasze przedstawicielstwo obsługująca Polskę południową- wschodnią. Osobą reprezentującą naszą firmę w tamtym regionie będzie Pan Marek Kuźnik. W sprawach dot. eventów, spotkań biznesowych,
        koncertów wystaw oraz pokazów i konferencji prosimy o kontakt z p. Markiem.
      </p>
      <p>
        Zapraszamy do współpracy!
      </p>
    </div>
  </div>
</div>
</section>
