<!-- header -->
  <header>
    <div class="intro-slider">
      <div style="background:url('assets/img/slider/1.jpg'); background-size:cover; background-repeat: no-repeat;">
        <div class="intro-slider-description">
          <br>
          <h2>Przygotuj się na niezapomnany wieczór<br>z naszą firmą</h2>
        </div>
      </div>
      <div style="background:url('assets/img/slider/2.jpg'); background-size:cover; background-repeat: no-repeat;">
      </div>
      <div style="background:url('assets/img/slider/3.jpg');  background-size:cover; background-repeat: no-repeat;">
      </div>
    </div>
  </header>
  <!-- end header -->
