<body>
  <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#intro"><img src="assets/img/logo.png" alt="Logo Good Group 69"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html#intro">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#about">O firmie</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="index.html#offer" role="button" aria-haspopup="true" aria-expanded="false">oferta</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="oferta.html">eventy</a>
            <a class="dropdown-item" href="impresariat.html">impresariat artystyczny</a>
            <a class="dropdown-item" href="naglosnienie-i-oswietlenie.html">Oświetlenie / Nagłośnienie</a>
            <a class="dropdown-item" href="kwartet.html">Kwartet</a>
            <a class="dropdown-item" href="projektowanie_www.html">Projektowanie WWW</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#repertoire">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#songs">Kontakt</a>
        </li>
      </ul>
    </div>
  </nav>
