<section id="offer">

  <div class="container-fluid"> <!-- Start Container fluid-->
    <div class="row"> <!-- Start row -->

      <h1 class="section-header display-4 mt-4 pl-3 pr-3">Eventy</h1>

      <div class="col-md-12 pt-3 pb-3 p-size">
        <p class="text-light">
          Zapewniamy szeroki wachlarz usług.
        </p>
      </div>
    </div> <!-- End row -->

    <div id="accordion">
      <!-- Theme party -->
          <div class="row">  <!-- Start row -->
            <div class="col-md-12 offer-heading text-light offer-theme">
              <img src="assets/img/events/imprezy-tematyczne.png" />
              <h2>Imprezy tematyczny</h2>
            </div>
          </div> <!-- End row -->
          <div>
          <div class="row d-flex justify-content-around"> <!-- Start row -->

          <div class="offer-description-thumb">
            <a data-fancybox data-src="#orient-time" href="javascript:;" class="btn">
                <img src="assets/gallery/event/thumb/czar-orientu_thumb.jpg" /><br>
                <span class="text-light">Czar Orientu</span>
              </a>
          </div>

          <div class="offer-description-thumb">
            <a data-fancybox data-src="#latino" href="javascript:;" class="btn">
              <img src="assets/gallery/event/thumb/latino_thumb.jpg" /></br>
              <span class="text-light">Latino na dzikim zachodzie</span>
            </a>
          </div>

          <div class="offer-description-thumb">
            <a data-fancybox data-src="#lata70" href="javascript:;" class="btn">
              <img src="assets/gallery/event/thumb/lata-70_thumb.jpg" /></br>
              <span class="text-light">Lata 70</span>
            </a>
          </div>

          <div class="offer-description-thumb">
            <a data-fancybox data-src="#moulin" href="javascript:;" class="btn">
                <img src="assets/gallery/event/thumb/moulin_thumb.jpg" /></br>
                <span class="text-light">Moulin Rouge</span>
              </a>
          </div>

          <div class="offer-description-thumb">
            <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
              <img src="assets/gallery/event/thumb/noc-afryki_thumb.jpg" /></br>
              <span class="text-light">Noc Afryki</span>
            </a>
          </div>

          <div class="offer-description-tnoc-afrykihumb">
            <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
              <img src="assets/gallery/event/thumb/prohibicja_thumb.jpg" /></br>
              <span class="text-light">Czas Prohibicji</span>
            </a>
          </div>

          <div class="offer-description-thumb">
            <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
              <img src="assets/gallery/event/thumb/szanty_thumb.jpg" /></br>
              <span class="text-light">Szanty</span>
            </a>
          </div>

          <div class="offer-description-thumb">
            <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
              <img src="assets/gallery/event/thumb/uczta-szlachecka_thumb.jpg" /></br>
              <span class="text-light">Uczta Szlachecka</span>
            </a>
          </div>

          <div class="offer-description-thumb">
            <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
              <img src="assets/gallery/event/thumb/wieczor-hawajski_thumb.jpg" /></br>
              <span class="text-light">Wieczór Hawajski</span>
            </a>
          </div>

          <div class="offer-description-thumb">
            <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
              <img src="assets/gallery/event/thumb/wieczor-wenecki2_thumb.jpg" /></br>
              <span class="text-light">Wieczór Wenecji</span>
            </a>
          </div>

        </div> <!-- End row -->
      </div> <!-- End container accordion -->
      <!--End Theme party -->


      <!-- outdoor party -->
      <div class="row">  <!-- Start row -->
        <div class="col-md-12 offer-heading text-light offer-theme">
          <img src="assets/img/events/imprezy-plenerowe.png" />
          <h2>Imprezy plenerowe</h2>
        </div>
      </div> <!-- End row -->
      <div>

        <div class="row">
          <div class="col-md-12 mt-4 text-light">
            <p>Kompleksowo organizujemy imprezy integracyjne , festyny i pikniki. Nasza oferta jest przekrojowa a odpowiedzialność za koordynacje i przebieg imprezy spoczywa na nas Dużą wagę przywiązujemy do kwestii bezpieczeństwa i realizacji zamówienia zgodnie ze szczegółowymi wytycznymi z oferty. Prosimy o kontakt, aby zapoznac Państwa ze szczegółami poszczególnych atrakcji , tak by dopasowac je do oczekiwań gości.</p>
          </div>
        </div>

      <div class="row d-flex justify-content-around"> <!-- Start row -->

      <div class="offer-description-thumb">
        <a data-fancybox data-src="#orient-time" href="javascript:;" class="btn">
            <img src="assets/gallery/event/thumb/czar-orientu_thumb.jpg" /><br>
            <span class="text-light">Czar Orientu</span>
          </a>
      </div>

      <div class="offer-description-thumb">
        <a data-fancybox data-src="#latino" href="javascript:;" class="btn">
          <img src="assets/gallery/event/thumb/latino_thumb.jpg" /></br>
          <span class="text-light">Latino na dzikim zachodzie</span>
        </a>
      </div>

      <div class="offer-description-thumb">
        <a data-fancybox data-src="#lata70" href="javascript:;" class="btn">
          <img src="assets/gallery/event/thumb/lata-70_thumb.jpg" /></br>
          <span class="text-light">Lata 70</span>
        </a>
      </div>

      <div class="offer-description-thumb">
        <a data-fancybox data-src="#moulin" href="javascript:;" class="btn">
            <img src="assets/gallery/event/thumb/moulin_thumb.jpg" /></br>
            <span class="text-light">Moulin Rouge</span>
          </a>
      </div>

      <div class="offer-description-thumb">
        <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
          <img src="assets/gallery/event/thumb/noc-afryki_thumb.jpg" /></br>
          <span class="text-light">Noc Afryki</span>
        </a>
      </div>

      <div class="offer-description-tnoc-afrykihumb">
        <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
          <img src="assets/gallery/event/thumb/prohibicja_thumb.jpg" /></br>
          <span class="text-light">Czas Prohibicji</span>
        </a>
      </div>

      <div class="offer-description-thumb">
        <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
          <img src="assets/gallery/event/thumb/szanty_thumb.jpg" /></br>
          <span class="text-light">Szanty</span>
        </a>
      </div>

      <div class="offer-description-thumb">
        <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
          <img src="assets/gallery/event/thumb/uczta-szlachecka_thumb.jpg" /></br>
          <span class="text-light">Uczta Szlachecka</span>
        </a>
      </div>

      <div class="offer-description-thumb">
        <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
          <img src="assets/gallery/event/thumb/wieczor-hawajski_thumb.jpg" /></br>
          <span class="text-light">Wieczór Hawajski</span>
        </a>
      </div>

      <div class="offer-description-thumb">
        <a data-fancybox data-src="#africa" href="javascript:;" class="btn">
          <img src="assets/gallery/event/thumb/wieczor-wenecki2_thumb.jpg" /></br>
          <span class="text-light">Wieczór Wenecji</span>
        </a>
      </div>

    </div> <!-- End row -->
  </div> <!-- End container accordion -->
  <!-- End outdoor party -->

    </div> <!-- End accordion -->
  </div> <!-- End container fluid -->

  <div style="display: none;" id="orient-time">
    <h2>Imprezy tematyczne - czar orientu</h2>
    <p>
      Idealny show dla Pań dzięki oryginalnym pięknym strojom tancerek, co przykuwa też uwagę Panów.<br> Niesamowitą atrakcją jest 3,5 m wąż ze swym trenerem fakirem, cyrkowe sztuczki w wykonaniu profesjonalistów, energetyzujący pokaz z ogniem. Gości
      zapraszamy na występy taneczne (taniec brzucha), fajkę wodną z tytoniem owocowym, egzotyczne tatuaże z henny. Przewidziane są również stroje dla gości oraz degustacja sake i śliwkowego wina japońskiego.
    </p>
    <a href="assets/gallery/event/czaorientu/czar-orientu.jpg" data-fancybox="rooms">
      <img class="offers-description-thumb-size" src="assets/gallery/event/czaorientu/czar-orientu.jpg" />
    </a>
    <a class="offers-description-thumb-size" href="assets/gallery/event/czarorientu/czar-orientu4.jpg" data-fancybox="rooms">
      <img class="offers-description-thumb-size" src="assets/gallery/event/czarorientu/czar-orientu4.jpg" />
    </a>
    <a class="offers-description-thumb-size" href="assets/gallery/event/czarorientu/czar-orientu3.jpg" data-fancybox="rooms">
     <img class="offers-description-thumb-size" src="assets/gallery/event/czarorientu/czar-orientu3.jpg" />
    </a>
    <a class="offers-description-thumb-size" href="assets/gallery/event/czarorientu/czar-orientu5.jpg" data-fancybox="rooms">
      <img class="offers-description-thumb-size" src="assets/gallery/event/czarorientu/czar-orientu5.jpg" />
    </a>
    </div>

</section>
