
<section id="offer">
  <h1 class="section-header display-4 mt-4 mb-4 pl-3 pr-3">Oferta</h1>
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-xl-4 col-md-6 col-sm-12 mb-4 text-center"><a href="oferta.html"><img class="img-fluid" src="assets/img/offer/oferta_zespoly.jpg"></a></div>
      <div class="col-xl-4 col-md-6 col-sm-12 mb-4 text-center"><a href="impresariat.html"><img class="img-fluid" src="assets/img/offer/oferta_impresariat.jpg"></a></div>
      <div class="col-xl-4 col-md-6 col-sm-12 mb-4 text-center"><a href="naglosnienie-i-oswietlenie.html"><img class="img-fluid" src="assets/img/offer/oferta_naglosnienie.jpg"></a></div>
      <div class="col-xl-4 col-md-6 col-sm-12 mb-4 text-center"><a href="kwartet.html"><img class="img-fluid" src="assets/img/offer/oferta_kwartet.jpg"></a></div>
      <div class="col-xl-4 col-md-6 col-sm-12 mb-4 text-center"><a href="projektowanie_www.html"><img class="img-fluid" src="assets/img/offer/oferta_www.jpg"></a></div>
      <div class="col-xl-4 col-md-6 col-sm-12 mb-4 text-center"><a href="wok-instr.html"><img class="img-fluid" src="assets/img/offer/oferta_wok_instr.jpg"></a></div>
      <div class="col-xl-4 col-md-6 col-sm-12 mb-4 text-center"><a href="pasje.html"><img class="img-fluid" src="assets/img/offer/pasje_klientow.jpg"></a></div>
    </div>
  </div>
</section>
