<section id="realization">
  <h1 class="section-header display-4 mt-4 pl-3 pr-3">Realizacje</h1>
  <div class="container-fluid">
    <div class="row">
      <a href="assets/img/realization/sala-2.jpg" class="fancybox-hide" data-fancybox="rooms">
        <img src="assets/img/realization/sala-2.jpg" />
      </a>
      <a href="assets/img/realization/sala-3.jpg" class="fancybox-hide" data-fancybox="rooms">
        <img src="assets/img/realization/sala-3.jpg" />
      </a>

      <!-- Wystepy -->
      <div class="col-xl-3 col-lg-6 col-sm-12 realizations-gallery">
        <a href="assets/img/realization/taniec-2.jpg" data-fancybox="dancing">
          <img class="realizations-gallery-img" src="assets/img/realization/thumb/taniec_thumb.jpg" />
        </a>
        <span class="realizations-gallery-span">Występy</span>
      </div>

      <a href="assets/img/realization/taniec-1.jpg" class="fancybox-hide" data-fancybox="dancing">
        <img src="assets/img/realization/taniec-1.jpg" />
      </a>

      <!-- Namioty -->
      <div class="col-xl-3 col-lg-6 col-sm-12 realizations-gallery">
        <a href="assets/img/realization/namioty.jpg" data-fancybox="tent">
          <img class="realizations-gallery-img" src="assets/img/realization/thumb/namioty_thumb.jpg" />
        </a>
        <span class="realizations-gallery-span">Namioty</span>
      </div>
      <a href="assets/img/realization/namioty2.jpg realizations-gallery" class="fancybox-hide" data-fancybox="tent">
        <img src="assets/img/realization/namioty2.jpg" />
      </a>

      <!-- Pikniki -->
      <div class="col-xl-3 col-lg-6 col-sm-12 realizations-gallery">
        <a href="assets/img/realization/piknik.jpg" data-fancybox="piknik">
          <img class="realizations-gallery-img" src="assets/img/realization/thumb/piknik_thumb.jpg" />
        </a>
        <span class="realizations-gallery-span">Pikniki</span>
      </div>
      <a href="assets/img/realization/piknik2.jpg" class="fancybox-hide" data-fancybox="piknik">
        <img src="assets/img/realization/piknik2.jpg" />
      </a>

      <!-- Sale -->
      <div class="col-xl-3 col-lg-6 col-sm-12 realizations-gallery">
        <a href="assets/img/realization/sala.JPG" data-fancybox="sala">
          <img class="realizations-gallery-img" src="assets/img/realization/thumb/sala_thumb.jpg" />
        </a>
        <span class="realizations-gallery-span">Sale</span>
      </div>
      <a href="assets/img/realization/sala2.jpg" class="fancybox-hide" data-fancybox="sala">
        <img src="assets/img/realization/sala2.jpg" />
      </a>

    </div>
  </div>

</section>
